body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* form {
  padding: 20px;
  margin: 20px;
} */

label {
  display: block;
  margin-bottom: 5px;
}

/* input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
} */

input[type="text"] {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}


button[type="submit"] {
  background-color: #36D7B7;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #23a395;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader > div {
  display: inline-block;
  margin: 0 auto;
}

.response {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
